.root{
 -fx-font-size: 16px;
 -fx-font-family: "SansSerif";
}

.button {
/* -fx-background-radius: 5px; */
 -fx-padding: 10;
}

.label {
/* -fx-font-weight: bold;*/
}

#ok {
  -fx-graphic: url("/res/small/dialog-ok-apply.png");
}

#cancel {
  -fx-graphic: url("/res/small/dialog-cancel.png");
}

#back {
  -fx-graphic: url("/res/small/dialog-cancel.png");
}